@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
    height: 100%;
    overflow-x: hidden;
    scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d1d5db; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #4b5563; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6b7280; 
}